


<div class="container-fluid">
  
  <div class="admin-layout">
    <div class="sidebar border bg-dark pt-3 sticky-sidebar">
        <h4 class="text-white px-2 ">Admin Panel</h4>
        <h4 class="text-white">Admin Panel</h4>
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let m of adminMenus">
                <a
                    href="#!"
                    class="nav-link text-white"
                    [routerLink]="[m.link]"
                    routerLinkActive="active"
                >
                <i-tabler [name]="m.icon"></i-tabler>
                <span class="ms-1"> {{ m.title }}</span>
                </a>
            </li>
        </ul>
    </div>
 </div>
  
    <div class="content">


          <router-outlet></router-outlet>
         
    <div>
          
</div>


